#start-00{

	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	align-items: center;
	font-size: 4em;

}

.start-02{
display: flex;
  width: 44%;
  margin-top: 7%;
  /* text-align: center; */
  /* flex-direction: row; */
  justify-content: space-around;
}

