$tst-red: #fd0101;
$tst-blue: #2f59b3;

main {
	border: 3px dashed $tst-blue;
}

header,
section,
footer {
	border: 2px dashed $tst-red;
}

footer,
header {
	background-color: lightgray;
	color: brown;
}