// S:S Настроить `TOPBAR` и `GRID-ARE` 

// Не забудь отключить `_set`
// @import '_set';
@import '_colors-scheme';
@import '_accordion';
@import '_menu';


/** 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Шрифты и классы шаблона aprakos.online для EE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*/

@font-face {
  font-family: 'Irmologion';
  font-display: auto;
  src: local("Clunya-IrmIEUcs"), url("https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf");
  font-weight: normal;
  font-style: normal;
}


// .wrapper{
// 	//  position: relative;
//   padding-top: 56.25%; /* 16:9 Aspect Ratio */
// }
// img {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: auto;
// }
.image-logo{
	// position: fixed;
	box-shadow: 0px 3px 7px #00000077;
	z-index: -1;
background-color: #d96670;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-size: $main-font-size;
	background-color: $body-color;
	height: 100%;
	color: $main-color;

}

h2 {
	padding-top: 2em;
	padding-bottom: 1.5em;
}

.red,
.knv {
	color: $red-color;
}

.site-name{
	padding-inline-start: 3vw;
}

HEADER {
	// position: fixed; 
	display: flex;
	font-size: $font-resize;
  font-size: clamp(1em, 2vw, 2em);
  justify-content: flex-start;
  align-items: center;
  color: #faebeb;
background: rgb(255,143,143);
background: rgb(139,56,56);
background: linear-gradient(90deg, rgba(139,56,56,1) 0%, rgba(250,235,235,1) 100%);
}
#online{
	color:#d99494;
}
MAIN {
	display: grid;
	height: 100%;
	font-size: $font-resize;
}

article{

}

SECTION {
	padding: 1em;
}


footer {
	grid-area: F;

}

#date {
	font-size: $main-font-size*1.5;
}

/**
Таблица значений календаря
*/
.time-board {
	z-index: 100;
	display: flex;
	grid-template: auto/ auto auto auto auto auto;
	justify-content: space-evenly;
	justify-items: stretch;
	align-items: center;
	background-color: #faebeb;
	border-top: 1px solid #e2e2e2;
	border-bottom: 4px solid #f1e1e2;

}

rt {
	font-size: clamp(11px, 2vw, 22px);
	color: #94444b;
}
nav{
	// display: none;
	padding-inline-start: 5vw;

}
.old-new {
	font-size: clamp(22px, 2vw, 3em);
	// color: rgb(230, 111, 111);
	padding: 1.2em 0em .7em 0em;
}

.dopolnitelno{
	color: gainsboro;
}

a:link, a:visited .dalee{
color: #d96670;
}
.entrance{
	display: flex;
	justify-content: center;
	align-items: center;
}
/**end*/