// S:S Настроить `TOPBAR` и `GRID-ARE` 

// Не забудь отключить `_set`
// @import '_set';
@import '_colors-scheme';
@import '_accordion';
@import '_menu';
// @import 'indx';



/** 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Шрифты и классы шаблона aprakos.online для EE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*/

@font-face {
  font-family: 'Irmologion';
  font-display: auto;
  src: local("Clunya-IrmIEUcs"), url("https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf");
  font-weight: normal;
  font-style: normal;
}


// .wrapper{
// 	//  position: relative;
//   padding-top: 56.25%; /* 16:9 Aspect Ratio */
// }
// img {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: auto;
// }

body{
	// ---------
	height: 100vh;
	display: grid;
	grid-template: auto auto 1fr auto/ auto;
}

.image-logo{
	// position: fixed;
	box-shadow: 0px 3px 7px #00000077;
	z-index: -1;
background-color: #d96670;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2 {
	padding-top: 1em;
	padding-bottom: 1.2em;
}

.red,
.knv {
	color: $red-color;
}

.site-name{
	padding-inline-start: 3vw;
}

HEADER {
	// position: fixed; 
	display: flex;
	font-size: $font-resize;
  font-size: clamp(1em, 2vw, 2em);
  justify-content: flex-start;
  align-items: center;
  color: #faebeb;
background: rgb(255,143,143);
background: rgb(139,56,56);
background: linear-gradient(90deg, rgba(139,56,56,1) 0%, rgba(250,235,235,1) 100%);
}
#online{
	color:#d99494;
}
MAIN {

	display: grid;
	font-size: clamp(1em, 2vw, 2em);
	grid-template: auto / 1fr 6fr 1fr;
	grid-template-areas:
    "l section  r"
	"space space space"
	


}

.left-col{
grid-area: l;
	
}
.right-col{
grid-area: r;
}

article{

}

SECTION {
	grid-area: section;

}


footer {
	// background-color: #d96670;
	background: linear-gradient(0deg, rgba(139,56,56,1) 0%, rgba(250,235,235,1) 100%);
	display: grid;
	height: 177px;

}

#date {
	font-size: $main-font-size*1.5;
}

/**
Таблица значений календаря
*/
.time-board {
	z-index: 100;
	display: flex;
	grid-template: auto/ auto auto auto auto auto;
	justify-content: space-evenly;
	justify-items: stretch;
	align-items: center;
	background-color: #faebeb;
	border-top: 1px solid #e2e2e2;
	border-bottom: 4px solid #f1e1e2;

}

rt {
	font-size: clamp(11px, 2vw, 22px);
	color: #94444b;
}
nav{
	// display: none;
	padding-inline-start: 5vw;

}
.old-new {
	font-size: clamp(22px, 2vw, 3em);
	// color: rgb(230, 111, 111);
	padding: 1.2em 0em .7em 0em;
}

.dopolnitelno{
	color: gainsboro;
}

a:link, a:visited .dalee{
color: #d96670;
}
.entrance{
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-box{
	height: 0;
	grid-area: space;

}


@media screen and (max-width: 768px) {
  .site-name {
     font-size: 3vw;
  
  }
  .nav{
    display: none;
  }
   MAIN{
    //   grid-template: auto / auto auto auto;
font-size: clamp(1em, 9vw, 2em)
  }
}

p.numb-zach {
  padding-bottom: 1em;
  color: #e9967a;
}

.title-zach a {
  color: #2f4f4f;
}

/** 
Форматирование  ленты
*/
.lenta{
	// background-image: url( https://izohost.aprakos.online/metr.svg);
}
.lenta h2{
	font-size: 1.2em;
	padding-bottom: 1%;
}

.lenta p{
	font-style: oblique;
	font-size: .9em;
	padding-bottom: .3em;
}

.lenta a {
	text-decoration: none;
	color: #887373;

}

.lenta a:hover {
	color: $red-color;
}

/* -------- end: lenta -------- */
.lenta .rus-zach{
	font-size: .8em;
	font-style: oblique;
	color: #887373;

}
/**end*/