/* Во Имя Отца и Сына и Святаго Духа. Аминь. */
:root {

	

	/* Website Color Scheme */
	--main-color: #542A00;
	--knv-color: #E34234;
	--blue-color: #00BCFF;
	--violet-color: #CD3DE0;
	--yellow-color: #FFCF00;
	--green-color: #4AB349;

}


body {

	margin:0;
	min-width: 99%;

  background: url(https://izohost.aprakos.online/metr.svg) 0% 0% no-repeat;

	font-size: 17px;


	
}

h1 {
	color: rgb(95, 90, 165);

}


h2{
	font-size: 2.4em;
	color: darkslategray;
}

p{
	font-size: 1.7em;
}

ul, li, ol{
	font-size: large;
}


.red {
	color: var(--knv-color);
}

section{
		display: grid;
		grid-template-columns: minmax(320px,960px);
		justify-content: center;
{!-- 		background: url(https://izohost.aprakos.online/metr0.svg) 0% 0% no-repeat; --}

	padding: 0px 12px 122px 10px;
}

blockquote{
	color: #542A00;
	text-shadow: 0px 22px 4em #f18dfe;
	font-style:italic;
}

.ystm{
	text-align: center;
	min-height: 200px;
padding-top: 120px;
}

.title {
	font-weight: 600;
	font-size: 3em;
}

.desc {
	font-size: 1.5em;
}


pre, code {
     font-size: 1.1em;
     white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
     color: palevioletred;
}

img{
	width: 100%;
	/* box-shadow: -33px 20px 7px #00000077; */
}


/* ========================================= */
/* =================== flag ================ */
/* ========================================= */


.flag {
	opacity: .44;
	/* border-top-left-radius: 44%; */
	border-radius: 50%;
	float: right;
	position: relative;
	animation-name: flag;
	animation-duration: 1s;
	/* max-width: 33%; */
	height: auto;
	/* justify-items: end; */
	/* align-items: end; */
}

#flag{
	box-shadow: none;
	
}

@keyframes flag {

	0% {
		float: right;
		opacity: 1;
		top: 100vh;
	}

	/* 50% {
		opacity: 1;
		top: 50px;
	} */

	100% {
		top: 0px;
	}

}

@media (max-width: 1250px){
{!-- 	body{
		background-image: none;
	} --}
section{
margin-left: 7.5em;
}
}

@media (max-width: 550px){
	body{
		background-image: none;
	}

}