/* Color Scheme */

body {
	background-color: #fefdfa;
	color: #542a00;
}

h1 {
	font-size: 2.7em;
}

@font-face {
	font-family: "Irmologion";
	font-display: auto;
	src: local("Clunya-IrmIEUcs"),
		url("https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf");
	font-weight: normal;
	font-style: normal;
}

section {
	padding-bottom: 7vh;
}

.knv,
.red {
	color: #e34234;
}

.numb-zach {
	font-size: 1.4em;
	font-style: italic;
	font-weight: 600;
	margin-block-end: -0.5em;
	color: rgb(83, 175, 44);
	padding-left: 2%;
}

#autor-zach-id {
	color: #e34234;
	padding-right: 7px;
}

#csl-zach-id {
	/*  */
}

.title-zach {
	color: black;
}

.csl-zach {
	font-family: Irmologion;
	color: #542a00;
	font-size: 2em;
}

.rus-zach {
	font-size: 1.6em;
}

#flag {
	opacity: 0.44;
	position: relative;
	float: right;
}

.dopolnitelno {
	color: #9e9e9e;
}


 .dalee>a:visited  {
	 font-size: 2em;
	  color: #b39a98;
}

a{
	text-decoration: none;
	color: #e34234;
}